*{
    margin: 0;
    padding: 0;
    font-family: "Hanken grotesk", sans-serif;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.button{
  line-height:1;
  padding: 1rem 2rem;
  border-radius: 100vw;
  border: 0;
  background: hsl(224, 30%, 27%);
  color: white;
   
}
.button:hover{
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    cursor: pointer;
}
.main-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 13px 11px 25px 0px rgba(0,0,0,0.20);
    border-radius: 2rem;
    max-width: 672px;
    

}
.result-card{

    text-align: center;
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color:hsl(0, 0%, 100%);
    padding: 2.5rem 4rem 4rem 4rem;
    overflow: hidden;
    border-radius: 2rem;
}
   .summary-card{
    padding: 2.5rem 2rem 2rem 2rem;
    display: grid;
    gap: 2rem;
    
   }
    

.result-card h1{
    font-size:17px;
    color: white;
    opacity: 0.8;
    letter-spacing: 1px;
} 
.result p{
    
    
}
.result .title{
    
    color: hsl(0, 0%, 100%);
}
.group, .title-item{
    font-size: 14px;
}
.result {
   margin-top:50px;
   display: grid;
   gap: 1rem;
}
.title{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}   
    .little-para{
    font-size:14px;
    letter-spacing: 0.8px;
    line-height:17px;
   opacity:.7;
}
.score{
    background:linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    margin-top:40px;
    width: 10rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-inline:auto;
    display: grid;
    place-content: center ;
}
.score span{
    font-size:70px;
    font-weight: bold;
    
}
.little-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    
    margin: 10px 0 10px 0;
    border-radius: 10px;
}
.group{
    display: flex;
    gap: 2px;
}
.little-card[data-item-type="card1"]{
    background:hsla(0, 100%, 67%, 0.082);
}
.little-card[data-item-type="card2"]{
    background: hsla(39, 100%, 56%, 0.068);        
}
.little-card[data-item-type="card3"]{
    background:hsla(166, 100%, 37%, 0.103)
}
.little-card[data-item-type="card4"]{
    background:hsla(234, 85%, 45%, 0.103);
}
@media (max-width:1170px) {
    .main-card{
        display: grid;
        grid-template-columns: 1fr;
        height:1000px;
        width: 335px; ;
    }
    .result{
        margin-top:80px ;
    }
    
}